@font-face { font-family: "main"; src: url("../webfonts/Open_Sans/OpenSans-Light.ttf") format("truetype"); }

* { margin: 0; padding: 0; outline: none; box-sizing: border-box; }
html, body { height: 100%; }
body { background: #17191b; color: #ddd; font-family: 'main'; font-size: 13px; }
a { text-decoration: none; color: #008fe2; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
table { border: none; box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); border-collapse: collapse; }
th, td {padding: 4px 10px; font-size: 12px; position: relative; }
th { background: #191d21; color: #ccc; text-align: left; border-right: 1px solid #333; }
td { border: none; text-align: left; border-right: 1px solid #4f4f4f; }
tr { background: transparent; cursor: default; }
tr:nth-child(2n) { background: #3c4147; }
tr:nth-child(2n+1) { background: #373d43; }
::placeholder { color: #777; font-style: italic; }

.transition { transition: all .3s ease-in-out; }
.flex { display: flex; align-items: flex-start; }
.flex-stretch { align-items: stretch; }
.flex-center { align-items: center; }
.flex-bottom { align-items: flex-end; }
.flex-wrap { flex-wrap: wrap; }
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex-column { display: flex; flex-direction: column; height: 100%; }
.flex-column > .flex1 { overflow: auto; }
.red { color: #ef4141; }
.green { color: #4ac301; }
.nowrap { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.nowrap-container { display: table; table-layout: fixed; width: 100%; }
.center { text-align: center; }
.center-items { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; }
.m10 { margin: 10px 0; }
.m20 { margin: 20px 0; }
.m40 { margin: 40px 0; }
.w100 { width: 100%; }
.h100 { height: 100%; }
.overflow { overflow: auto; }
.relative { position: relative; }
.coming-soon { font-size: 50px; font-weight: bold; color: #d6d6d6; }

input[type="text"], input[type="password"], input[type="number"], textarea, select { 
    margin: 5px; border: none; border-radius: 3px; padding: 5px 10px; flex: 1; color: #aaa; background: #25282b;
    box-sizing: border-box; font-family: 'main', sans-serif; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, textarea:focus { border-color: #4dbbfb; }
input[type="checkbox"], input[type="radio"] { top: 2px; position: relative; }
textarea { height: 100px; resize: none; }
table textarea { font-size: 12px; }
.btn, button { cursor: pointer; padding: 4px 12px; text-align: center; border: none; color: #aaa;
       background: linear-gradient(to bottom, #2f3133, #161819); border-radius: 5px; box-shadow: 0px 1px 4px -2px #333; margin: 5px 0;
       font-family: 'main', sans-serif; position: relative; transition: all .3s ease-in-out; display: inline-block; line-height: 20px; }
.btn:hover, button:hover { background: linear-gradient(to bottom, #393c3e, #222526); }
.btn-green, .btn-green:disabled:hover { background: linear-gradient(to bottom, #0dc500, #076d00); color: #fff !important; text-shadow: 0px -1px #333; }
.btn-green:hover { background: linear-gradient(to bottom, #12df03, #0b8d02); }
.btn-red, .btn-red:disabled:hover { background: linear-gradient(to bottom, #ab0000, #890000); color: #fff !important; text-shadow: 0px -1px #333; }
.btn-red:hover { background: linear-gradient(to bottom, #d10202, #a30101); }
.btn-blue, .btn-blue:disabled:hover { background: linear-gradient(to bottom, #006288, #004e6d); color: #fff !important; text-shadow: 0px -1px #333; }
.btn-blue:hover { background: linear-gradient(to bottom, #0280b1, #03668d); }
.btn-white, .btn-white:disabled:hover { background: linear-gradient(to bottom, #f0f0f0, #d6d6d6); color: #000 !important; }
.btn-white:hover { background: linear-gradient(to bottom, #e0e0e0, #c6c6c6); }
.btn:disabled { cursor: default; }
table .btn, .btn-small { font-size: 11px; padding: 0 10px; min-width: auto; height: 25px; line-height: 25px; }
.btn-margin { margin: 5px; }

::-webkit-scrollbar { width: 5px; height: 7px; }
::-webkit-scrollbar-track { background-color: transparent; display: none; }
::-webkit-scrollbar-thumb { border-radius: 4px; background-color: rgba(0, 0, 0, 0.3); }
::-webkit-scrollbar-button { background-color: transparent; display: none; }
::-webkit-scrollbar-corner { background-color: transparent; display: none; }

.panel { background: #343a40; margin: 20px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); border-radius: 5px; padding: 10px 20px; position: relative; }
.panel > div {  }
.panel > h1 { font-size: 20px; color: #f9bc00; margin-bottom: 10px; text-align: center; }
.panel ul { list-style: disc; }
.form { width: 250px; }

.tabs { display:inline-block; width: 100%; }
.tabs > div { padding: 10px 20px; }
.tabs > ul { margin:0px; padding:0px; }
.tabs > ul:after { content:""; display:block; clear:both; height:1px; background:#0078D7; }
.tabs > ul li { margin:0px; padding:0px; cursor:pointer; display:block; float:left; padding:7px 15px; color:#707070; transition: all .3s ease-in-out; }
.tabs > ul li.active, .tabs ul li.active:hover { background:#0078D7; color:#fff; border-radius: 5px 5px 0 0; }
.tabs > ul li:hover { color:#000; }


@media screen and (max-width: 480px) {
    .flex { display: block; }
    .flex-mobile { display: flex; }
    .form { width: 80%; }
}
